.form{
    border-radius: 4px;
    padding: 20px;    
}

.input{
    width: 100%
}

.buttons{
    text-align: center;
    display: block;
    width: 50%;
    margin: auto;    
}

.buttons button {
    margin-right: 8px;
}

mat-form-field {
    margin-right: 12px;
}
