table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 10px;
    text-align: center;
}

td, th {
    border: 1px solid #F2F2F2;
    padding:2px;
}

tr:nth-child(even){
    background-color: #F2F2F2;
}
#tudo {
    float:left;
    width:100%;
    height: 100%;
}

#content {
    width:100%;
    height: 100%;
    line-height: 20px;
}

#tudo {
	position: relative;
	left: 200px;
	width: 200px;
	height: 200px;
    float: left;    
}

.form{
    border-radius: 4px;
    padding: 20px; 
    margin-right: 12px;
}

textarea{
    font-family: arial, sans-serif;
    width: 80%;
}

mat-form-field {
    width: 205px;
    margin-right: 15px;
}

.buttons{
    text-align: center;
    display: block;
    width: 50%;
    margin: auto;    
}

.buttons button {
    margin-right: 8px;
}
