<form>
    <mat-form-field>
          <mat-select placeholder="Selecione um aditamento">
                      <mat-option>None</mat-option>
                      <mat-option value="option" *ngFor="let ad of aditamentos" 
                                (click)="loadInfomationAditamento(ad.id)"  >{{ad.nome}}</mat-option>
          </mat-select>
    </mat-form-field>     
      
        <button mat-raised-button color="warn" (click)="downloadPDF()" >Downaload Relatorio</button>
</form>

<div id="content" >    
                    <!--<img src="../assets/armas_nacionais.jpg"  > -->
            <div class="cabecalho">                   
                <div> {{cabecalho0}} </div>
                <div> {{cabecalho1}} </div>
                <div> {{cabecalho2}} </div>
                <div> {{cabecalho3}} </div>
                <br><br><b>Para conhecimento deste aquartelamento e devida execução, publico seguinte:</b> <br><br>
                
                <div> <b>1ª Parte</b></div>
                    <div> <b>SERVICOS DIÁRIOS</b> </div>
                        <br>Sem Alteração<br>

                <div><b>2ª Parte</b></div>
                    <div><b>INSTRUÇÃO</b></div>
                        <br>Sem Alteração<br>

                <div><b>3ª Parte</b></div>
                <div><b>ASSUNTOS GERAIS E ADMINISTRATIVOS</b><br></div>

            </div>
                1. <b>ASSUNTOS GERAIS</b><br>
                AUXÍLIO TRANSPORTE

    <div>          
        <h3>a. Despesa a Anular</h3> {{aditamento.despesaTexto}}
            <table>
                <th>Graduação-Nome</th> <th>Prec-CP</th> <th>Quantidade de Dias</th> 
                <th>Valor</th> <th>Motivo</th>
                <tr *ngFor='let d of despesas'>
                    <td>{{d.graduacao}} {{d.nome}}</td>
                    <td>{{d.militarPrecCP}}</td>
                    <td>{{d.quantidadeDias}}</td>
                    <td>R$: {{d.valor}}</td>
                    <td>{{d.motivo}}</td>
                </tr>
                <tr *ngFor='let d of militaresSemDespesas'>
                    <td>{{d.graduacao}} {{d.nome}}</td>
                    <td>{{d.militarPrecCP}}</td>
                    <td>{{d.quantidadeDias}}</td>
                    <td>R$: {{d.valor}}</td>
                    <td>{{d.motivo}}</td>
                </tr>
            </table>            
    </div>      
    <div> 
        <h3>b. Inclusão de Auxílio Transporte</h3> {{aditamento.inclusaoTexto}}         
            <table>
                <th>Graduação-Nome</th> <th>Prec-CP</th> <th>A contar de:</th> <th>Valor</th> 
                <tr *ngFor='let inclusaoAuxTransp of inclusoesAuxilioTransporte'>
                    <td>{{inclusaoAuxTransp.graduacao}} {{inclusaoAuxTransp.nome}}</td>
                    <td>{{inclusaoAuxTransp.militarPrecCP}}</td>
                    <td>{{inclusaoAuxTransp.dataInicio}}</td>
                    <td>R$: {{inclusaoAuxTransp.valor}}</td>
                </tr>
            </table>         
    </div>
    <div>
        <h3>c. Atualização de Auxílio Transporte</h3> {{aditamento.atualizacaoTexto}}         
            <table>
                <th>Graduação-Nome</th> <th>Prec-CP</th> <th>A contar de:</th> <th>Valor</th> <th>Motivo</th>
                <tr *ngFor='let atualizacaoAuxTransp of atualizacoesAuxiliosTransporte'>
                    <td>{{atualizacaoAuxTransp.graduacao}} {{atualizacaoAuxTransp.nome}}</td>
                    <td>{{atualizacaoAuxTransp.militarPrecCP}}</td>
                    <td>{{atualizacaoAuxTransp.dataInicio}}</td>
                    <td>R$ {{atualizacaoAuxTransp.valor}}</td>
                    <td>{{atualizacaoAuxTransp.motivo}}</td>
                </tr>
            </table>            
    </div>
    <div>
        <h3>d. Exclusão de Auxílio Transporte</h3> {{aditamento.exclusaoTexto}}         
            <table>
                    <th>Graduação-Nome</th> <th>Prec-CP</th> <th>Data</th> <th>Valor</th> <th>Motivo</th> 
                    <tr *ngFor='let exclusaoAuxTransp of exclusoesAuxilioTransporte'>
                        <td>{{exclusaoAuxTransp.graduacao}} {{exclusaoAuxTransp.nome}}</td>
                        <td>{{exclusaoAuxTransp.militarPrecCP}}</td>
                        <td>{{exclusaoAuxTransp.data}}</td>
                        <td>R$ {{exclusaoAuxTransp.valor}}</td>
                        <td>Motivo: {{exclusaoAuxTransp.motivo}}</td>
                    </tr>
            </table>
    </div> 
    <div>
        <h3>e. Saque Atrasado</h3> {{aditamento.pagamentoAtrasadoTexto}}         
            <table>
                <th>Graduação-Nome</th> <th>Prec-CP</th> <th>Mês de Referência</th> 
                <th>Quantidade de Dias</th> <th>Valor</th> <th>Motivo</th> 
                <tr *ngFor='let pgmto of pagamentosAtrasados'>
                    <td>{{pgmto.graduacao}} {{pgmto.nome}}</td>
                    <td>{{pgmto.militarPrecCP}}</td>
                    <td>{{pgmto.mesReferencia}}</td>
                    <td>{{pgmto.quantidadeDias}}</td>
                    <td>R$ {{pgmto.valor}}</td>
                    <td>{{pgmto.motivo}}</td>
                </tr>
            </table> 
            <div class="rodape">
                <div class="rodape1"><br><br>  2.  <b>ASSUNTOS ADMINISTRATIVOS</b>
                    <br>Sem Alteração<br>
                </div>
                <div> <b>4ª Parte</b></div>
                    <div> <b>JUSTIÇA E DISCIPLINA</b> </div>
                    <div class="rodape1">    
                        <br>1. <b>JUSTIÇA</b>
                            <br>Sem Alteração<br>

                        <br>2. <b>DISCIPLINA</b>
                            <br>Sem Alteração<br>
                    </div>

                    <div><b>DIEGO PINTO DE ALENCAR - Maj</b></div>
                    Comandante da Companhia de Comando do Comando Militar do Sul
            </div>
    </div>
             
    <div class="buttons">
        <button mat-raised-button color="warn" (click)="downloadPDF()" >Downaload Relatorio</button>
    </div>
    <div class="buttons">
        <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>            
    </div>
