
<div id="content" >
    <h1>RELATORIO DOS DESCONTOS </h1>
    <div>        
            Despesa a Anular           
            Seja realizada a Despesa a Anular (DA) do benefício de Auxílio-Transporte (AT), de acordo com o 
            Decreto nº 2.963, de 24 fev 1999, as IG 70-04 (Port. nº 334, de 25 jun 1999),
            as IR 70-21 (Port. nº 114, de 30 jun 1999), a Port. nº 98 – DGP, de 31 out 01, 
            a Prt. nº 269 – DGP, de 11 dez 07 e a Port. nº 849 – Cmt Ex, de 14 jul 16 (EB 10-IG-02.018).
                
        <div id="tudo1" >       
            <table>
                <th>Graduacao-Nome</th> <th>Prec-CP</th> <th>Data de Inicio</th> 
                <th>Data de Termino</th> <th>Valor</th> <th>Motivo</th>
                <tr *ngFor='let d of despesas'>
                    <td>{{d.graduacao}} {{d.nome}}</td>
                    <td>{{d.militarPrecCP}}</td>
                    <td>{{d.dataInicio}}</td>
                    <td>{{d.dataFim}}</td>
                    <td>R$: {{d.valor}}</td>
                    <td>{{d.motivo}}</td>
                </tr>
            </table>
        </div>    
    </div>
    <br>
      
    <div>   
        
            Inclusao de Aux Transp           
            Seja realizada a Inclusao do benefício de Auxílio-Transporte (AT), de acordo com o 
            Decreto nº 2.963, de 24 fev 1999, as IG 70-04 (Port. nº 334, de 25 jun 1999),
            as IR 70-21 (Port. nº 114, de 30 jun 1999), a Port. nº 98 – DGP, de 31 out 01, 
            a Prt. nº 269 – DGP, de 11 dez 07 e a Port. nº 849 – Cmt Ex, de 14 jul 16 (EB 10-IG-02.018).
        
        <div id="tudo1" *ngFor='let inclusaoAuxTransp of inclusaoAuxiliosTransporte'>       
            PrecCP do Militar: {{inclusaoAuxTransp.precCP}}<br>
            A partir de: {{inclusaoAuxTransp.dataInicio}} <br>
            Valor: R$ {{inclusaoAuxTransp.valor}}<br>
            -------------------------------------------------
        </div>
    </div>
    <br>

            Exclusao de Aux Transp           
            Seja realizada a Despesa a Anular (DA) do benefício de Auxílio-Transporte (AT), de acordo com o 
            Decreto nº 2.963, de 24 fev 1999, as IG 70-04 (Port. nº 334, de 25 jun 1999),
            as IR 70-21 (Port. nº 114, de 30 jun 1999), a Port. nº 98 – DGP, de 31 out 01, 
            a Prt. nº 269 – DGP, de 11 dez 07 e a Port. nº 849 – Cmt Ex, de 14 jul 16 (EB 10-IG-02.018).
      
        <div id="tudo1" >       
            <table>
                    <th>Graduacao-Nome</th> <th>Prec-CP</th> <th>Data</th> <th>Valor</th> <th>Motivo</th> 
                    <tr *ngFor='let exclusaoAuxTransp of exclusaoAuxiliosTransporte'>
                        <td>{{exclusaoAuxTransp.graduacao}} {{exclusaoAuxTransp.nome}}</td>
                        <td>{{exclusaoAuxTransp.militarPrecCP}}</td>
                        <td>{{exclusaoAuxTransp.data}}</td>
                        <td>R$ {{exclusaoAuxTransp.valor}}</td>
                        <td>Motivo: {{exclusaoAuxTransp.motivo}}</td>
                    </tr>
            </table>
        </div>
    </div> 
        <br>
        <br>
<!--
        <textarea rows="4" cols="50" >
            Atualização de Auxílio-Transporte           
            Seja atualizado o valor do benefício do Auxílio-Transporte (AT) referente ao deslocamento
            de 22 (vinte e dois) dias, de acordo com o Decreto nº 2.963, de 24 fev 1999, as IG 70-04 
            (Port. nº 334, de 25 jun 1999), as IR 70-21 (Port. nº 14, de 30 jun 1999), 
            a Port. nº 98 - DGP, de 31 out 01, a Port. nº 269 - DGP, de 11 dez 07 e a Port. 
            nº 849 - Cmt Ex, de 14 jul 16 (EB 10-IG-02.018).
        </textarea>

        <br>
        <div id="tudo1" *ngFor='let atualizacaoAuxTransp of atualizacaoAuxiliosTransporte'>       
            PrecCP do Militar: {{atualizacaoAuxTransp.precCP}}<br>
            A partir de: {{atualizacaoAuxTransp.dataInicio}} <br>
            Valor: R$ {{atualizacaoAuxTransp.valor}}<br>
            Motivo: {{atualizacaoAuxTransp.motivo}}<br>

            -------------------------------------------------
        </div>

        

        <textarea rows="4" cols="50" >
            Saque Atrasado           
            Seja realizado o saque atrasado do benefício de Auxlio-Transporte (AT), de acordo com o 
            Decreto nº 2.963, de 24 fev 1999, as IG 70-04 (Port. nº 334, de 25 jun 1999), as IR 70-21 
            (Port. nº 14, de 30 jun 1999), a Port. nº 98 - DGP, de 31 out 01, a Port. nº 269 - DGP,
            de 11 dez 07 e a Port. nº 849 - Cmt Ex, de 14 jul 16 (EB 10-IG-02.018).
        </textarea>

        <br>
        <div id="tudo1" *ngFor='let pgmto of pagamentosAtrasados'>       
            Codigo de Pagamento: {{pgmto.codPgmtoAtrasado}}<br>
            PrecCP do Militar: {{pgmto.precCP}}<br>
            Mes de referencia: {{pgmto.mesReferencia}}<br>
            Quantidade de dias: {{pgmto.quantidadeDeDias}}<br>
            Valor: R$ {{pgmto.valor}}<br>
            Motivo: {{pgmto.motivo}}<br>
            -------------------------------------------------
        </div>
    -->
        <button (click)="downloadPDF()">Downaload Relatorio </button>
    
