<form>
    <mat-form-field>
          <mat-select placeholder="Selecione um aditamento">
                      <mat-option>None</mat-option>
                      <mat-option value="option" *ngFor="let ad of aditamentos" 
                                (click)="loadInfomationAditamento(ad.id)"  >{{ad.nome}}</mat-option>
          </mat-select>
    </mat-form-field>     
      
        <button mat-raised-button color="warn" (click)="downloadPDF()" >Downaload Relatorio</button>
</form>

<div id="content" >
    <!--
    <div >
        <table > 
            <td>
                <tr>
                    <img src="../assets/armas_nacionais.jpg"  >
                </tr>               
                <tr>
                    {{cabecalho}}
                </tr>  
            </td>
        </table>
    </div>
    -->
    <h1>Aditamento</h1>
    <div>          
        <h3>Despesa a Anular</h3> {{aditamento.despesaTexto}}
            <table>
                <th>Graduação-Nome</th> <th>Prec-CP</th> <th>Data de Início</th> 
                <th>Data de Término</th> <th>Valor</th> <th>Motivo</th>
                <tr *ngFor='let d of despesas'>
                    <td>{{d.graduacao}} {{d.nome}}</td>
                    <td>{{d.militarPrecCP}}</td>
                    <td>{{d.dataInicio}}</td>
                    <td>{{d.dataFim}}</td>
                    <td>R$: {{d.valor}}</td>
                    <td>{{d.motivo}}</td>
                </tr>
            </table>            
    </div>      
    <div> 
        <h3>Inclusão de Auxílio Transporte</h3> {{aditamento.inclusaoTexto}}         
            <table>
                <th>Graduação-Nome</th> <th>Prec-CP</th> <th>A contar de:</th> <th>Valor</th> 
                <tr *ngFor='let inclusaoAuxTransp of inclusoesAuxilioTransporte'>
                    <td>{{inclusaoAuxTransp.graduacao}} {{inclusaoAuxTransp.nome}}</td>
                    <td>{{inclusaoAuxTransp.militarPrecCP}}</td>
                    <td>{{inclusaoAuxTransp.dataInicio}}</td>
                    <td>R$: {{inclusaoAuxTransp.valor}}</td>
                </tr>
            </table>         
    </div>
    <div>
        <h3>Atualização de Auxílio Transporte</h3> {{aditamento.atualizacaoTexto}}         
            <table>
                <th>Graduação-Nome</th> <th>Prec-CP</th> <th>A contar de:</th> <th>Valor</th> <th>Motivo</th>
                <tr *ngFor='let atualizacaoAuxTransp of atualizacoesAuxiliosTransporte'>
                    <td>{{atualizacaoAuxTransp.graduacao}} {{atualizacaoAuxTransp.nome}}</td>
                    <td>{{atualizacaoAuxTransp.militarPrecCP}}</td>
                    <td>{{atualizacaoAuxTransp.dataInicio}}</td>
                    <td>R$ {{atualizacaoAuxTransp.valor}}</td>
                    <td>{{atualizacaoAuxTransp.motivo}}</td>
                </tr>
            </table>            
    </div>
    <div>
        <h3>Exclusão de Auxílio Transporte</h3> {{aditamento.exclusaoTexto}}         
            <table>
                    <th>Graduação-Nome</th> <th>Prec-CP</th> <th>Data</th> <th>Valor</th> <th>Motivo</th> 
                    <tr *ngFor='let exclusaoAuxTransp of exclusoesAuxilioTransporte'>
                        <td>{{exclusaoAuxTransp.graduacao}} {{exclusaoAuxTransp.nome}}</td>
                        <td>{{exclusaoAuxTransp.militarPrecCP}}</td>
                        <td>{{exclusaoAuxTransp.data}}</td>
                        <td>R$ {{exclusaoAuxTransp.valor}}</td>
                        <td>Motivo: {{exclusaoAuxTransp.motivo}}</td>
                    </tr>
            </table>
    </div> 
    <div>
        <h3>Saque Atrasado</h3> {{aditamento.pagamentoAtrasadoTexto}}         
            <table>
                <th>Graduação-Nome</th> <th>Prec-CP</th> <th>Mês de Referência</th> 
                <th>Quantidade de Dias</th> <th>Valor</th> <th>Motivo</th> 
                <tr *ngFor='let pgmto of pagamentosAtrasados'>
                    <td>{{pgmto.graduacao}} {{pgmto.nome}}</td>
                    <td>{{pgmto.militarPrecCP}}</td>
                    <td>{{pgmto.mesReferencia}}</td>
                    <td>{{pgmto.quantidadeDias}}</td>
                    <td>R$ {{pgmto.valor}}</td>
                    <td>{{pgmto.motivo}}</td>
                </tr>
            </table>       
    </div>
             
    <div class="buttons">
        <button mat-raised-button color="warn" (click)="downloadPDF()" >Downaload Relatorio</button>
    </div>
    <div class="buttons">
        <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>            
    </div>
