<h3>{{titulo}}</h3>
<div class = "form">
        
  <form>
    <div>
        <mat-form-field>
            <input matInput [matDatepicker]="dataInicio" placeholder="A contar de: " 
            class="datePicker" name="dataInicio" [(ngModel)]="atualizacaoAuxilioTransporte.dataInicio">
            <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
            <mat-datepicker #dataInicio></mat-datepicker>
        </mat-form-field> 
        <mat-form-field class="input">
            <input matInput placeholder="Motivo" name="motivo" [(ngModel)]="atualizacaoAuxilioTransporte.motivo">
        </mat-form-field>
    </div>
    <div>
            <h3>Primeira Conducao</h3>
            <mat-form-field>
                    <mat-select placeholder="Itinerário" name="itinerario0" [(ngModel)]="conducoes[0].itinerario">            
                        <mat-option value="Bairro-Centro">Bairro-Centro</mat-option>
                        <mat-option value="Centro-Bairro">Centro-Bairro</mat-option>
                        <mat-option value="Centro-OM">Centro-OM</mat-option>
                        <mat-option value="OM-Centro">OM-Centro</mat-option>
                    </mat-select>
            </mat-form-field>        
            <mat-form-field>
                    <mat-select placeholder="Nome da Empresa" name="nomeEmpresa0" [(ngModel)]="conducoes[0].nomeEmpresa">            
                        <mat-option value="VIVA_SUL">VIVA SUL</mat-option>
                        <mat-option value="CONORTE">CONORTE</mat-option>
                        <mat-option value="SOUL">SOUL</mat-option>
                    </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Tipo de Transporte" name="tipoDeTransporte0" [(ngModel)]="conducoes[0].tipoDeTransporte">            
                    <mat-option value="Ônibus">Ônibus</mat-option>
                    <mat-option value="Trensurb">Trensurb</mat-option>
                    <mat-option value="Ônibus intermunicipal">Ônibus intermunicipal</mat-option>
                </mat-select>
            </mat-form-field>    
            <mat-form-field class="input">
                <input type="number" matInput placeholder="Valor da Condução" name="valor0" [(ngModel)]="conducoes[0].valor">
            </mat-form-field>
        </div>
    
        <div>
            <h3>Segunda Conducao</h3>
            <mat-form-field>
                    <mat-select placeholder="Itinerário" name="itinerario1" [(ngModel)]="conducoes[1].itinerario">            
                        <mat-option value="Bairro-Centro">Bairro-Centro</mat-option>
                        <mat-option value="Centro-Bairro">Centro-Bairro</mat-option>
                        <mat-option value="Centro-OM">Centro-OM</mat-option>
                        <mat-option value="OM-Centro">OM-Centro</mat-option>
                    </mat-select>
            </mat-form-field>        
            <mat-form-field>
                    <mat-select placeholder="Nome da Empresa" name="nomeEmpresa1" [(ngModel)]="conducoes[1].nomeEmpresa">            
                        <mat-option value="VIVA_SUL">VIVA SUL</mat-option>
                        <mat-option value="CONORTE">CONORTE</mat-option>
                        <mat-option value="SOUL">SOUL</mat-option>
                    </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Tipo de Transporte" name="tipoDeTransporte1" [(ngModel)]="conducoes[1].tipoDeTransporte">            
                    <mat-option value="Ônibus">Ônibus</mat-option>
                    <mat-option value="Trensurb">Trensurb</mat-option>
                    <mat-option value="Ônibus intermunicipal">Ônibus intermunicipal</mat-option>
                </mat-select>
            </mat-form-field>    
            <mat-form-field class="input">
                <input type="number" matInput placeholder="Valor da Condução" name="valor1" [(ngModel)]="conducoes[1].valor">
            </mat-form-field>
        </div>
    
        <div>
            <h3>Terceira Conducao</h3>
            <mat-form-field>
                <mat-select placeholder="Itinerário" name="itinerario2" [(ngModel)]="conducoes[2].itinerario">            
                    <mat-option value="Bairro-Centro">Bairro-Centro</mat-option>
                    <mat-option value="Centro-Bairro">Centro-Bairro</mat-option>
                    <mat-option value="Centro-OM">Centro-OM</mat-option>
                    <mat-option value="OM-Centro">OM-Centro</mat-option>
                </mat-select>
            </mat-form-field>        
            <mat-form-field>
                <mat-select placeholder="Nome da Empresa" name="nomeEmpresa2" [(ngModel)]="conducoes[2].nomeEmpresa">            
                    <mat-option value="VIVA_SUL">VIVA SUL</mat-option>
                    <mat-option value="CONORTE">CONORTE</mat-option>
                    <mat-option value="SOUL">SOUL</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Tipo de Transporte" name="tipoDeTransporte2" [(ngModel)]="conducoes[2].tipoDeTransporte">            
                    <mat-option value="Ônibus">Ônibus</mat-option>
                    <mat-option value="Trensurb">Trensurb</mat-option>
                    <mat-option value="Ônibus intermunicipal">Ônibus intermunicipal</mat-option>
                </mat-select>
            </mat-form-field>    
            <mat-form-field class="input">
                <input type="number" matInput placeholder="Valor da Condução" name="valor2" [(ngModel)]="conducoes[2].valor">
            </mat-form-field>
        </div>
    
        <div>
            <h3>Quarta Conducao</h3>
            <mat-form-field>
                <mat-select placeholder="Itinerário" name="itinerario3" [(ngModel)]="conducoes[3].itinerario">            
                    <mat-option value="Bairro-Centro">Bairro-Centro</mat-option>
                    <mat-option value="Centro-Bairro">Centro-Bairro</mat-option>
                    <mat-option value="Centro-OM">Centro-OM</mat-option>
                    <mat-option value="OM-Centro">OM-Centro</mat-option>
                </mat-select>
            </mat-form-field>        
            <mat-form-field>
                <mat-select placeholder="Nome da Empresa" name="nomeEmpresa3" [(ngModel)]="conducoes[3].nomeEmpresa">            
                    <mat-option value="VIVA_SUL">VIVA SUL</mat-option>
                    <mat-option value="CONORTE">CONORTE</mat-option>
                    <mat-option value="SOUL">SOUL</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Tipo de Transporte" name="tipoDeTransporte3" [(ngModel)]="conducoes[3].tipoDeTransporte">            
                    <mat-option value="Ônibus">Ônibus</mat-option>
                    <mat-option value="Trensurb">Trensurb</mat-option>
                    <mat-option value="Ônibus intermunicipal">Ônibus intermunicipal</mat-option>
                </mat-select>
            </mat-form-field>    
            <mat-form-field class="input">
                <input type="number" matInput placeholder="Valor da Condução" name="valor3" [(ngModel)]="conducoes[3].valor">
            </mat-form-field>
        </div>
      
        <div>
            <h3>Quinta Conducao</h3>
            <mat-form-field>
                <mat-select placeholder="Itinerário" name="itinerario4" [(ngModel)]="conducoes[4].itinerario">            
                    <mat-option value="Bairro-Centro">Bairro-Centro</mat-option>
                    <mat-option value="Centro-Bairro">Centro-Bairro</mat-option>
                    <mat-option value="Centro-OM">Centro-OM</mat-option>
                    <mat-option value="OM-Centro">OM-Centro</mat-option>
                </mat-select>
            </mat-form-field>        
            <mat-form-field>
                <mat-select placeholder="Nome da Empresa" name="nomeEmpresa4" [(ngModel)]="conducoes[4].nomeEmpresa">            
                    <mat-option value="VIVA_SUL">VIVA SUL</mat-option>
                    <mat-option value="CONORTE">CONORTE</mat-option>
                    <mat-option value="SOUL">SOUL</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Tipo de Transporte" name="tipoDeTransporte4" [(ngModel)]="conducoes[4].tipoDeTransporte">            
                    <mat-option value="Ônibus">Ônibus</mat-option>
                    <mat-option value="Trensurb">Trensurb</mat-option>
                    <mat-option value="Ônibus intermunicipal">Ônibus intermunicipal</mat-option>
                </mat-select>
            </mat-form-field>    
            <mat-form-field class="input">
                    <input type="number" matInput placeholder="Valor da Condução" name="valor4" [(ngModel)]="conducoes[4].valor">
                </mat-form-field>
        </div>
        <div>
            <h3>Sexta Conducao</h3>
            <mat-form-field>
                <mat-select placeholder="Itinerário" name="itinerario5" [(ngModel)]="conducoes[5].itinerario">            
                    <mat-option value="Bairro-Centro">Bairro-Centro</mat-option>
                    <mat-option value="Centro-Bairro">Centro-Bairro</mat-option>
                    <mat-option value="Centro-OM">Centro-OM</mat-option>
                    <mat-option value="OM-Centro">OM-Centro</mat-option>
                </mat-select>
            </mat-form-field>        
            <mat-form-field>
                <mat-select placeholder="Nome da Empresa" name="nomeEmpresa5" [(ngModel)]="conducoes[5].nomeEmpresa">            
                    <mat-option value="VIVA_SUL">VIVA SUL</mat-option>
                    <mat-option value="CONORTE">CONORTE</mat-option>
                    <mat-option value="SOUL">SOUL</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Tipo de Transporte" name="tipoDeTransporte5" [(ngModel)]="conducoes[5].tipoDeTransporte">            
                    <mat-option value="Ônibus">Ônibus</mat-option>
                    <mat-option value="Trensurb">Trensurb</mat-option>
                    <mat-option value="Ônibus intermunicipal">Ônibus intermunicipal</mat-option>
                </mat-select>
            </mat-form-field>    
            <mat-form-field class="input">
                <input type="number" matInput placeholder="Valor da Condução" name="valor5" [(ngModel)]="conducoes[5].valor">
            </mat-form-field>
        </div>
    <div class="buttons">
            <button mat-raised-button color="primary" (click)="verifyValues()">Salvar</button>
            <button mat-raised-button color="warn" (click)="cancel()">Voltar</button>            
    </div>
  </form>
</div>
