input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons button {
    margin-right: 8px;
}

.buttons{
    text-align: center;
    display: block;
    margin: auto;    
}

.form{
    border-radius: 4px;
    background-color: #F2f2f2;
    padding: 20px;    
}

mat-form-field {
    margin-right: 12px;
}