input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
}

.buttons{
  text-align: center;
  display: block;
  width: 50%;
  margin: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form{
  border-radius: 4px;
  background-color: #F2f2f2;
  padding: 20px;    
}