<h3>{{titulo}}</h3>
<div class = "form">     
  <form class="form">
      <mat-form-field>
          <mat-select placeholder="Graduações">            
            <mat-option value="option" *ngFor="let posto of postosGraduacoes" 
                  (click)="salvarPostoGraduacao(posto.id)">{{posto.nome}}</mat-option>
          </mat-select>
      </mat-form-field>
      
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nome Completo" name="nome" value="" [(ngModel)]="militar.nome">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input type="number" matInput placeholder="Prec-CP" name="precCP" value="" pattern="[0-9]{4}"  [(ngModel)]="militar.precCP">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="CEP" name="cep" value="" (blur)="getAdress()" [(ngModel)]="cep">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Rua" name="rua" value="" [(ngModel)]="endereco.logradouro">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Bairro" name="bairro" value="" [(ngModel)]="endereco.bairro">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Cidade" name="cidade" value="" [(ngModel)]="endereco.localidade">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="number" matInput placeholder="numero" name="numero" value="" pattern="[0-9]{4}"  [(ngModel)]="endereco.numero">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Complemento" name="complemento" value="" [(ngModel)]="endereco.complemento">
    </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="primary" (click)="salvarMilitar()">Salvar</button>
        <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
      </div>      
  </form>
</div>
