<h3>{{titulo}}</h3>
<div class = "form">
  <form>
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" placeholder="Nome do Militar..." [(ngModel)]="militar.nome" >

    <label for="Prec-CP">Prec-CP</label>
    <input type="text" id="Prec-CP" name="Prec-CP" placeholder="Prec-CP..." [(ngModel)]="militar.prec_cp">

    <div class="buttons">
      <input type="button" (click)="salvarMilitar()" value="Salvar">
      <input type="button" (click)="cancelar()" value="Cancelar">
    </div>
  </form>
</div>
