  <table>
    <div id="tudo">
      <tr>
        <th>Codigo do Pagamento</th> <th>Prec-CP</th> <th>Codigo do Aditamento</th> <th>Mês de Referência</th>
        <th>Quantidade de Dias</th> <th>Motivo</th> <th>Valor</th> <th>Data</th> <th>Deletar</th>
      </tr>

      <tr *ngFor='let pagamentoAtrasado of pagamentosAtrasados'>
        <td>{{pagamentoAtrasado.codPgmtoAtrasado}}</td>
        <td>{{pagamentoAtrasado.precCP}}</td>  
        <td>{{pagamentoAtrasado.codAditamento}}</td>
        <td>{{pagamentoAtrasado.mesReferencia}}</td>
        <td>{{pagamentoAtrasado.quantidadeDeDias}}</td>
        <td>{{pagamentoAtrasado.motivo}}</td>
        <td>{{pagamentoAtrasado.valor}}</td>
        <td>{{pagamentoAtrasado.data}}</td>
            
        <td>
          <a routerLink="/listaPagamentoAtrasado" (click)="removerPagamentoAtrasado(pagamentoAtrasado)">
            <img class="icons" src="../assets/icon-delete.png" alt="Remover"/>
          </a>
        </td>
      </tr>
    </div>   
  </table>
    <div>
      <a routerLink="/cadastroPagamentoAtrasado">Novo Pagamento Atrasado</a>
      <a routerLink="/index">VOLTAR</a>
    </div>