input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=button]{
    width: 10%;
    color: white;
    padding: 10px 0px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;    
}

.form{
    width: 30%;   
}

.imbSelect select {
font-family: "Trebuchet MS", Helvetica, sans-serif;
background: transparent;
width: 233px;
color: #474747;
padding: 8px 5px 5px 5px;
font-size: 12px;
line-height: 1;
border: 0;
border-radius: 0;
height: 34px;
-webkit-appearance: none;
}

.botaoSalvar{
    background-color: #90EE90;
}

.botaoCancelar{
    background-color: #FA8072;
}