<h3>{{titulo}}</h3>
<div class="form">        
  <form>
      <mat-form-field>
          <mat-select placeholder="Militares">            
            <mat-option value="option" *ngFor="let m of militaresComAuxilioTransporte" 
            (click)="salvarPrecCPMilitar(m.precCP)">{{m.nome}}</mat-option>
          </mat-select>
      </mat-form-field>
    <div>    
      <mat-form-field>
          <input matInput [matDatepicker]="dataInicio" placeholder="Data de Inicio" 
          class="datePicker" name="inicio" [(ngModel)]="despesa.dataInicio">
          <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
          <mat-datepicker #dataInicio></mat-datepicker>
      </mat-form-field>      
    </div>
    <div>
      <mat-form-field>
          <input matInput [matDatepicker]="dataFim" placeholder="Data de Termino" 
          class="datePicker" name="fim" [(ngModel)]="despesa.dataFim">
          <mat-datepicker-toggle matSuffix [for]="dataFim"></mat-datepicker-toggle>
          <mat-datepicker #dataFim></mat-datepicker>
      </mat-form-field>
    </div>
    <div>    
      <mat-form-field class="input">
        <input type="number" matInput placeholder="Quantidade de Dias" name="quantidadeDias" value="" pattern="[0-9]{1,4}"  [(ngModel)]="despesa.quantidadeDias">
      </mat-form-field>
    </div>
    
    <mat-form-field>
        <mat-select placeholder="Motivo" name="motivo" [(ngModel)]="despesa.motivo">            
            <mat-option value="Dispensa como Recompensa">Dispensa como Recompensa</mat-option>
            <mat-option value="Serviço">Serviço</mat-option>
            <mat-option value="Viagem">Viagem</mat-option>
            <mat-option value="Ferias">Férias</mat-option>
            <mat-option value="Desconto em Ferias">Desconto em Férias</mat-option>
            <mat-option value="Nupcias">Núpcias</mat-option>
            <mat-option value="LTSP">LTSP</mat-option>
        </mat-select>
    </mat-form-field>      
 
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="saveDespesa()">Salvar</button>
      <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>            
    </div>  
  </form>
</div>
