<div>
  <form>
    <label for="precCP">Militar</label>
    <select id="precCP" name="precCP">
        <option></option>
        <option *ngFor="let m of militares" (click)="salvarPrecCPMilitar(m.precCP)">{{m.nome}}</option>
    </select>

    <br>
    <label for="data">A contar de:</label>
    <input type="date" id="data" name="data" >
    
    <br>
    <label for="motivo">Motivo</label>
    <input type="text" id="motivo" placeholder="Motivo..." >
          
  </form>

  <div class="buttons">            
    <input type="button" (click)="salvarExclusaoAuxilioTransporte()" value="Salvar">
    <input type="button" (click)="cancelar()" value="Cancelar">    
  </div>
</div>

