<div class="aditamentoAtual">
  Aditamento Atual:  {{aditamentoAtual.nome}} 
</div>

<div class = "form">
  <form>
    <div>
      <mat-form-field>
          <mat-select placeholder="Militares">            
            <mat-option value="option" name="precCP" *ngFor="let m of militaresComAuxilioTransporte"
            (click)="salvarMilitarPrecCP(m.precCP)">{{m.nome}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input">
          <input matInput placeholder="Mês de Referência" name="mesReferencia" [(ngModel)]="saqueAtrasado.mesReferencia">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input">
          <input type="number" matInput placeholder="Quantidade de Dias" name="quantidadeDias"  [(ngModel)]="saqueAtrasado.quantidadeDias">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input">
            <input matInput placeholder="Motivo" name="motivo" [(ngModel)]="saqueAtrasado.motivo">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input">
          <input type="number" matInput placeholder="Valor" name="valor" [(ngModel)]="saqueAtrasado.valor">
      </mat-form-field>  
    </div>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="validarPrecCP()">Salvar</button>
        <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
