<table>
  <div id="tudo">
   <tr>
     <th>Prec-CP</th> <th>Nome do Aditamento</th> <th>Data</th> <th>Motivo</th> <th>Valor</th>
   </tr>

   <tr *ngFor='let eat of exclusaoAuxiliosTransporte'>
      <td>{{eat.precCP}}</td>
      <td>{{eat.codAditamento}}</td>
      <td>{{eat.data}}</td>
      <td>{{eat.motivo}}</td>
      <td>{{eat.valor}}</td>
  
      <td>
        <a >
          <img class="icons" src="../assets/icon-edit.png" alt="Editar"/>
        </a>
      </td> 
      <td>
        <a (click)="removerExclusaoAuxilioTransporte(eat)">
          <img class="icons" src="../assets/icon-delete.png" alt="Remover"/>
        </a>
      </td>
    </tr>
</div>
</table>
<div>
<a routerLink="/cadastroExclusaoAuxilioTransporte">Nova Exclusao</a>
<a routerLink="/index">VOLTAR</a>
</div>