.buttons button {
    margin-right: 8px;
}

.buttons{
    text-align: center;
    display: block;
    width: 50%;
    margin: auto;    
}

.form{
    border-radius: 4px;
    padding: 20px;    
}

.imbSelect select {
font-family: "Trebuchet MS", Helvetica, sans-serif;
background: transparent;
width: 233px;
color: #474747;
padding: 8px 5px 5px 5px;
font-size: 12px;
line-height: 1;
border: 0;
border-radius: 0;
height: 34px;
-webkit-appearance: none;
}

.formConducao {
    margin-right: 8px;
    margin: 8px 0;
    border-radius: 4px;
    padding: 8px 5px 5px 5px;
}