<h3>{{titulo}}</h3>
<!--
<table>
  <div id="tudo">
   <tr>
     <th>Posto</th> <th>Nome</th> <th>Prec-CP</th> <th>Editar</th> <th>Remover</th>
   </tr>

   <tr *ngFor='let militar of militares'>
      <td>{{militar.postoGraduacaoId}}</td>
      <td>{{militar.nome}}</td>  
      <td>{{militar.precCP}}</td>
      <td>
        <a [routerLink]="['/edicaoMilitar', militar.precCP]">
          <img class="icons" src="../assets/icon-edit.png" alt="Editar"/>
        </a>
      </td> 
      <td>
        <a routerLink="/listaMilitares" (click)="removerMilitar(militar)">
          <img class="icons" src="../assets/icon-delete.png" alt="Remover"/>
        </a>
      </td>
    </tr>
</div>

<div id="tudo1">
      <tr>
          <th>Rua</th> <th>Numero</th> <th>Bairro</th> <th>Cidade</th> <th>Complemento</th>
      </tr>
      <tr *ngFor='let endereco of enderecos'>
            <td>{{endereco.logradouro}}</td>
            <td>{{endereco.numero}}</td>
            <td>{{endereco.bairro}}</td>
            <td>{{endereco.localidade}}</td>
            <td>{{endereco.complemento}}</td>
      </tr>
</div>
  
</table>

 <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
     Note that these columns can be defined in any order.    The actual rendered columns are set as a property on the row definition" 
  
     Nome Column 
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    
  
     PrecCP Column 
    <ng-container matColumnDef="precCP">
      <th mat-header-cell *matHeaderCellDef> Prec-CP </th>
      <td mat-cell *matCellDef="let element"> {{element.precCP}} </td>
    </ng-container>

     Editar Column 
    <ng-container matColumnDef="Editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element" > 
        <a [routerLink]="['/edicaoMilitar', element.precCP]">
          <img class="icons" src="../assets/icon-edit.png" alt="Editar"/>
        </a>
      </td>
    </ng-container>
  
     Remover Column 
    <ng-container matColumnDef="Remover">
      <th mat-header-cell *matHeaderCellDef> Remover </th>
      <td mat-cell *matCellDef="let element" > 
        <a routerLink="/listaMilitares" (click)="removeMilitar(element)">
          <img class="icons" src="../assets/icon-delete.png" alt="Remover"/>
        </a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> 
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  

 -->

<div>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
</mat-form-field>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows  class="mat-elevation-z8">
    
    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>    
  
    <!-- PrecCP Column --> 
    <ng-container matColumnDef="precCP">
      <th mat-header-cell *matHeaderCellDef> Prec-CP </th>
      <td mat-cell *matCellDef="let element"> {{element.precCP}} </td>
    </ng-container>

    <!-- Editar Column --> 
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element" > 
        <a [routerLink]="['/edicaoMilitar', element.precCP]">
          <img class="icons" src="../assets/edit.png" alt="editar"/>
        </a>
      </td>
    </ng-container>
  <!-- 
    RETIRADA FUNCAO POR CAUSA DA REGRA DE NEGOCIO
     Remover Column 
    <ng-container matColumnDef="remover">
      
      <th mat-header-cell *matHeaderCellDef> Remover </th>
      <td mat-cell *matCellDef="let element" > 
        <a routerLink="/listaMilitares" (click)="removeMilitar(element)">
          <img class="icons" src="../assets/delete_forever.png" alt="remover"/>
        </a>
      </td>
    </ng-container>  
      -->
  <!-- Linha expandida -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">        
        <div class="example-element-description">
          {{element.endereco.logradouro}}, nº {{element.endereco.numero}} / complemento: {{element.endereco.complemento}}, Bairro: {{element.endereco.bairro}} - {{element.endereco.localidade}}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
 
  <div class="buttons">
      <button mat-raised-button color="warn" (click)="cancel()">Voltar</button>
  </div>
</div>
