<h3>{{titulo}}</h3>
<div class = "form">
        
  <form>
    <label for="precCP">Nome do Militar</label>
    <select id="precCP" name="precCP">
        <option></option>
        <option *ngFor="let m of militares" (click)="salvarPrecCPMilitar(m.precCP)" >{{m.nome}}</option>
    </select >      

    <br>
      <label for="dataInicio">Data de Inicio</label>
      <input type="date" id="dataInicio" name="dataInicio" [(ngModel)]="desconto.dataInicio"> 
    <br>
      <label for="dataFim">Data de Termino</label>
      <input type="date" id="dataFim" name="dataFim" [(ngModel)]="desconto.dataFim">    
    <br>
      <label for="motivo">Motivo</label>
      <select class="imbSelect" id="motivo" name="motivo" [(ngModel)]="desconto.motivo">
        <option></option>
        <option>Dispensa por Recompensa</option>
        <option>Serviço</option>
        <option>Viagem</option>
        <option> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</option>
    </select >
      
    <div>            
      <input type="button" class="botaoSalvar" (click)="salvarDesconto()" value="Salvar">
      <input type="button" class="botaoCancelar" (click)="cancelar()" value="Cancelar">    
    </div>
  </form>
</div>
