<div class = "form">     
  <form class="form">
         
    <mat-form-field class="mat-form">
      <input matInput placeholder="Tipo de Transporte (Ex: Onibus, Ônibus Intermunicipal, trensurb...)" name="tipoDeTransporte"  [(ngModel)]="passagem.tipoTransporte">
    </mat-form-field>    
    
    <mat-form-field class="input">
        <input type="number" matInput placeholder="Valor da Condução" name="valor" [(ngModel)]="passagem.valor">
    </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="primary" (click)="validarForm()">Salvar</button>
        <button mat-raised-button color="warn" (click)="cancelar()">Voltar</button>
      </div>      
  </form>
</div>