<div class="buttons">
      <button mat-stroked-button color="primary" (click)="updateAuxilioTransporte()" >Atualizar Auxílios Transporte</button>
      <button mat-stroked-button color="warn" (click)="cancel()">Voltar</button>            
</div>

<div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
     
            <!-- GraduacaoNome Column -->
            <ng-container matColumnDef="graduacaoNome">
              <th mat-header-cell *matHeaderCellDef> Graduação-Nome </th>
              <td mat-cell *matCellDef="let element"> {{element.graduacao}} {{element.nome}} </td>
            </ng-container>
            
            <!-- PrecCP Column -->
            <ng-container matColumnDef="militarPrecCP">
              <th mat-header-cell *matHeaderCellDef> Prec-CP </th>
              <td mat-cell *matCellDef="let element"> {{element.militarPrecCP}} </td>
            </ng-container>
               
            <!-- Valor Total Column -->
            <ng-container matColumnDef="valorTotal">
              <th mat-header-cell *matHeaderCellDef> Valor Total </th>
              <td mat-cell *matCellDef="let element">R$ {{element.valorTotalAT}} </td>
            </ng-container>
        
            <!-- Valor Diario Column -->
            <ng-container matColumnDef="valorDiario">
              <th mat-header-cell *matHeaderCellDef> Valor Diário </th>
              <td mat-cell *matCellDef="let element">R$ {{element.valorDiarioAT}} </td>
            </ng-container>

            <!-- Atualizacao Column -->
            <ng-container matColumnDef="atualizacao">
                  <th mat-header-cell *matHeaderCellDef> Atualização </th>
                  <td mat-cell *matCellDef="let element"> {{element.atualizacaoTexto}} </td>
            </ng-container>

            <!-- Editar Column -->
            <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef> Aumentar Passagem </th>
                  <td mat-cell *matCellDef="let element" > 
                        <a [routerLink]="['/cadastroAtualizacaoAuxilioTransporte', element.id]">
                               <img class="icons" src="../assets/icon-edit.png" alt="Editar"/>
                  </a>
                  </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<div class="buttons">
      <button mat-stroked-button color="primary" (click)="updateAuxilioTransporte()" >Atualizar Auxílios Transporte</button>
      <button mat-raised-button color="primary" (click)="moveToFormAuxilioTransporte()">Cadastro de Auxilio Transporte</button>
      <button mat-raised-button color="warn" (click)="cancel()">Voltar</button>            
</div>     

      <!--
      <div >
            <tr>
                  <th>Codigo Conducao</th> <th>Codigo AT</th> <th>Itinerario</th> <th>Nome da Empresa</th>
                  <th>Tipo de Transporte</th> <th>Valor</th> <th>DELETAR</th>
            </tr>
            <tr *ngFor='let conducao of conducoes'>
                  <td>{{conducao.id}}</td>
                  <td>{{conducao.auxilioTransporteId}}</td>
                  <td>{{conducao.itinerario}}</td>
                  <td>{{conducao.nomeEmpresa}}</td>
                  <td>{{conducao.tipoDeTransporte}}</td>
                  <td>{{conducao.valor}}</td>
                        <td>
                              <a routerLink="/listaATConducao" (click)="removerConducao(conducao)">
                                    <img class="icons" src="../assets/icon-delete.png" alt="Remover"/>
                              </a>
                        </td>
            </tr>
      </div>
  -->    