
<table>
      <div >
            <tr>
                  <th>Posto-Nome</th> <th>Prec-CP</th> <th>Valor Total</th> 
                  <th>Valor Diário</th> <th>Aumento de passagem</th> 
            </tr>

            <tr *ngFor='let at of auxiliosTransporte'>
                  <td>{{at.graduacao}} {{at.nome}}</td>
                  <td>{{at.militarPrecCP}}</td>
                  <td>R$ {{at.valorTotalAT}}</td>  
                  <td>R$ {{at.valorDiarioAT}}</td>
                  <td>
                        <a [routerLink]="['/cadastroAtualizacaoAuxilioTransporte', at.id]">
                              <img class="icons" src="../assets/icon-edit.png" alt="Editar"/>
                        </a>
                  </td>   
            </tr>
      </div>
<!--
      <div >
            <tr>
                  <th>Codigo Conducao</th> <th>Codigo AT</th> <th>Itinerario</th> <th>Nome da Empresa</th>
                  <th>Tipo de Transporte</th> <th>Valor</th> <th>DELETAR</th>
            </tr>
            <tr *ngFor='let conducao of conducoes'>
                  <td>{{conducao.id}}</td>
                  <td>{{conducao.auxilioTransporteId}}</td>
                  <td>{{conducao.itinerario}}</td>
                  <td>{{conducao.nomeEmpresa}}</td>
                  <td>{{conducao.tipoDeTransporte}}</td>
                  <td>{{conducao.valor}}</td>
                        <td>
                              <a routerLink="/listaATConducao" (click)="removerConducao(conducao)">
                                    <img class="icons" src="../assets/icon-delete.png" alt="Remover"/>
                              </a>
                        </td>
            </tr>
      </div>
  -->    
</table>
      <div class="buttons">
            <button mat-raised-button color="primary" (click)="moveToFormAuxilioTransporte()">Cadastro de Auxilio Transporte</button>
            <button mat-raised-button color="warn" (click)="cancel()">Voltar</button>            
      </div>     