<body class="body">
<input type="checkbox" id="bt_menu">
<label for="bt_menu">&#9776;</label>
      <div class="menu">
            <button mat-button [matMenuTriggerFor]="menu">Cadastrar</button>
                  <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="moveToFormMilitar()">Militar</button>
                  <button mat-menu-item (click)="moveToFormAuxilioTransporte()">Auxílio Transporte</button>
                  <button mat-menu-item (click)="moveToFormDesconto()">Desconto</button>
                  <button mat-menu-item (click)="moveToFormDescontoGuarnicao()">Desconto Guarnição de Serviço</button>
                  <button mat-menu-item (click)="moveToFormDescontoFeriadoAdm()">Desconto - Feriado/ Adm</button>
                  <button mat-menu-item (click)="moveToFormSaqueAtrasado()">Saque Atrasado</button>
                  <button mat-menu-item (click)="moveToFormExclusaoAuxilioTransporte()">Exclusão de Auxílio Transporte</button>
                  </mat-menu>
            
            <button mat-button [matMenuTriggerFor]="menu2">Listar</button>
                  <mat-menu #menu2="matMenu">
                        <button mat-menu-item (click)="moveToReadMilitares()">Militares</button>
                        <button mat-menu-item (click)="moveToReadAuxiliosAndConducoes()">Auxílios</button>
                        <button mat-menu-item (click)="moveToReadDescontos()">Descontos</button>
                        <button mat-menu-item (click)="moveToReadPagamentosAtrasados()">Saques Atrasados</button>
                        <button mat-menu-item (click)="moveToReadExclusoesAuxilioTransporte()">Exclusões de Auxílio Transporte</button>
                  </mat-menu>  
            <button mat-button [matMenuTriggerFor]="menu3">Aditamento</button>
                  <mat-menu #menu3="matMenu">
                        <button mat-menu-item (click)="moveToAditamentoPDF()">Gerar Aditamento</button>
                        <button mat-menu-item (click)="moveFormAditamento()">Cadastrar</button>
                        <button mat-menu-item (click)="moveToReadAditamento()">Listar</button>
                  </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu4">Passagens</button>
            <mat-menu #menu4="matMenu">
                  <button mat-menu-item (click)="moveToReadPassagens()">Tabela de Valores</button>
                  <button mat-menu-item (click)="moveToFormPassagens()">Cadastrar Passagens</button>
            </mat-menu>           
      </div>
      <div> 
            <form>
            <mat-form-field>
                  <mat-select placeholder="Selecione um aditamento">
                              <mat-option>None</mat-option>
                              <mat-option value="option" *ngFor="let ad of aditamentos" 
                                          (click)="saveAditamento(ad)">{{ad.nome}}</mat-option>
                  </mat-select>
            </mat-form-field>     
                                 
            </form>
                  <div class="buttons">
                        <button mat-raised-button color="primary" (click)="saveAditamentoAtual()">Salvar</button>
                        <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
                  </div>
      </div>


</body>
