<body>
<input type="checkbox" id="bt_menu">
<label for="bt_menu">&#9776;</label>
<div class="menu">
      <ul>
            <li>Cadastrar
                  <ul>
                        <li> <a routerLink="/cadastroDeMilitar">Militar</a> </li>             
                        <li> <a routerLink="/cadastroDeAT">Auxilio Transporte</a> </li>             
                        <li> <a routerLink="/cadastroDeDesconto">Descontos</a> </li>
                        <li> <a routerLink="/cadastroPagamentoAtrasado">Valores Atrasados</a> </li>
                        <li> <a routerLink="/cadastroAditamento">Aditamentos</a> </li>
                        <li> <a routerLink="/cadastroExclusaoAuxilioTransporte">Excluir Auxilio Transporte</a> </li>
                        <li> <a routerLink="/cadastroAtualizacaoAuxilioTransporte">Atualizacao Auxilio Transporte</a> </li>
                  </ul>
            </li>
            <li>Relatorios
                  <ul>
                        <li> <a routerLink="/relatorio">Gerar Aditamento</a> </li> 
                        <li> <a routerLink="/listaAditamento">Lista de Aditamentos</a> </li> 
                        <li> <a routerLink="/listaMilitares">Lista de Militares</a> </li> 
                        <li> <a routerLink="/listaATConducao">Auxilios e Conducoes</a> </li>
                        <li> <a routerLink="/listaDesconto">Lista dos Descontos</a> </li> 
                        <li> <a routerLink="/listaPagamentoAtrasado">Lista dos Pagamentos Atrasados</a> </li>
                        <li> <a routerLink="/listaExclusaoAuxiliosTransporte">Exclusoes de Auxilios Transporte</a> </li>             
                  </ul>
            </li>  
      </ul>
</div>

<div>      
      <form>
            <label for="codAditamento">Selecionar aditamento atual</label>
            <select id="codAditamento" name="codAditamento">
                  <option></option>
                  <option *ngFor="let ad of aditamentos" (click)="salvarCodAditamento(ad.codAditamento)">{{ad.nome}}</option>
            </select >             
      </form>
            <div class="buttons">            
                  <input type="button" (click)="salvarAditamentoAtual()" value="Salvar">
                  <input type="button" (click)="cancelar()" value="Cancelar">    
            </div>
</div>

</body>
